[submodule "roact"]
	path = packages/roact
	url = https://github.com/Roblox/roact/
[submodule "roblox-lua-promise"]
	path = packages/roblox-lua-promise
	url = https://github.com/evaera/roblox-lua-promise
[submodule "llama"]
	path = packages/llama
	url = https://github.com/F-RDY/llama.git
